<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="end_eff_base_link">
    <visual>
      <geometry>
        <mesh filename="package://ur_description_custom/meshes/end_eff_basic/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur_description_custom/meshes/end_eff_basic/base.stl" scale="0.005 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="end_eff_finger_link">
    <visual>
      <geometry>
        <mesh filename="package://ur_description_custom/meshes/end_eff_basic/finger.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
  </link>

  <joint name="end_eff_base_to_finger" type="fixed">
    <parent link="end_eff_base_link"/>
    <child link="end_eff_finger_link"/>
    <origin xyz="-0.02 -0.02 0.15" rpy="0 0 1.5708"/>
  </joint>

</robot>
